{% extends 'base.html' %}

{% block content %}
<!-- CONTENT START -->
<div class="user-dashboard">
  <h1>Model List</h1>
  <div class="row">
    {% for key, model in models.items() %}
    <div class="col-md-12 col-sm-12 col-xs-12 gutter">

      <div class="sales">
        <a href="/dashboard/{{ key }}">
        <h2>{{ key|capitalize }} Model</h2>
        </a>

        <div class="btn-group">
          <a href="#" class="add-project" data-toggle="modal">
            <span class="fa fa-plus"></span> Edit Model </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}